version: '3.8'

services:
  app:
    build: .
    ports:
      - "8081:8081"
    environment:
      - MONGODB_URL=mongodb://mongo:27017/fitnessdb
    depends_on:
      - mongo
    networks:
      - fitness-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - fitness-network

volumes:
  mongo-data:

networks:
  fitness-network:
    driver: bridge
